#logo {
    width : 560px;
    height : 140px;
    margin-bottom : 0;
    background-color: #6A6E6B;
}

body {
	width: 1000px;
	background-color: #6A6E6B;
}

#content {
	background-color: #1fc909;
	padding: 5px;
	padding-top: 10px;
	border-radius: 10px;
	border: 1px solid black;
}

.title {
	font-weight: bold;
	font-size: 40px;
	padding-left: 10px;
	padding-bottom: 0;
	margin-bottom: 0px;
	margin-top: 15px;
	font-family: Papyrus, sans-serif;
	color: #5e3b04;
}

.parks {
	margin: 5px;
	border: 1px solid black;
	padding: 5px 10px 10px 10px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 2px 2px 2px black;
}

#parkDetailImage {
	box-shadow: 2px 2px 2px black;
}

#parkListImage {
	margin-top: 10px;
	box-shadow: 2px 2px 2px black;
	width: 400px;
	height: 275px;
}

.parkLink a {
	font-family: Papyrus, sans-serif;
	color: #5e3b04;
	font-weight: bold;
}

.links a {
	font-weight: bold;
	display: inline;
	padding: 5px;
	color: #5e3b04;
	text-decoration: none;
}

.links {
	list-style: none;
	display: inline;
	background-color: white;
	border: 1px solid green;
	border-radius: 5px;
	box-shadow: 2px 2px 2px black;
	padding: 5px;
	font-family: Trebuchet MS;
	font-size: 14px;
}

.navigation {
	list-style: none;
	display: inline;
	padding-left: 0;
}